button {
  border-radius: 8px;
  border: 0.5px solid transparent;
  border-color: #2e2e2e;
  padding: 0.6em 1.2em;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #91b6a8;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #2e2e2e;
  background-color: #a8caba;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
