button {
  border-radius: 8px;
  border: 0.5px solid transparent;
  border-color: #2e2e2e;
  padding: 0.6em 1.2em;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  max-width: fit-content;
  min-width: 100px;
  font-family: inherit;
  background-color: #91b6a8;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #7ea392;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.login-container button,
.google-register-button {
  gap: 0.5rem;
  width: 100%; /* make all buttons full width */
  max-width: 300px; /* optional: cap max size */
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.google-register-button {
  background-color: #db4437;
  color: #fff;
}
.google-register-button:hover {
  background-color: #c33d30;
  border-color: #db4437;
}

.discord-register-button {
  background-color: #5865f2;
  color: #fff;
}

.discord-register-button:hover {
  background-color: #4752c4;
  border-color: #5865f2;
}

.login-container button[type="submit"] {
  background-color: #91b6a8; /* green login button */
  color: black;
}

.login-container button[type="submit"]:hover {
  background-color: #7ea392;
  border-color: #a8caba;
}
