.reset-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.register-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
