@import "./styles/buttons.css";
@import "./styles/containers.css";
@import "./styles/forms.css";
@import "./styles/graphs.css";
@import "./styles/text.css";
@import "./styles/links.css";

:root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2e2e2e;
  background-color: #f9faf9;
  border-color: #2e2e2e;
  border-style: solid;
  border-width: 0.5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
  min-height: 100vh;
}
